.home__page {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 40px;
}

.title{
  font-size: 60px;
  margin: 0;
  
  text-align: center;
  margin-bottom: 20px;
}

#btn {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: grey;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

#btn-next {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: grey;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

#btn:hover, #btn-next:hover {
opacity: 0.6;
}

.flex-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slide-wrapper{
  max-width: 800px;
  width: 100%;
  height: 490px;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

.slide.active {
  display: block;
}

img{
  width: 100%;
  height: 100%;
}

.dots-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dot.active {
  background-color: black;
}


span {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: grey;
  margin-left: 10px;
  cursor: pointer;
}

span:last-child{
  margin-right: 0;
}
